@model FacetedWorlds.MyCon.Web.ViewModels.TrackDetailsViewModel
@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name</h2>

@foreach (var session in @Model.Sessions)
{
    <div class="session">
        <a href="@Url.Action("Details", "Sessions", new { id = session.TimeSlot })">
            <div class="calendar">
                <p>@session.Day</p>
                <p>@session.Time</p>
            </div>
        </a>
        <h3>@session.Name</h3>
        <p>@Html.ActionLink(session.Speaker, "Details", "Speakers", new { id = session.Speaker }, new { })</p>
        <p>Room: @session.Room</p>
        <p>@session.Description</p>
        <div class="clear"></div>
    </div>
}