@model FacetedWorlds.MyCon.Web.ViewModels.TimeDetailsViewModel

@{
    ViewBag.Title = Model.Time;
}

<h2>@Model.Time</h2>

@foreach (var session in @Model.Sessions)
{
    <div class="session">
        <img class="thumbnail" src="@session.SpeakerImageUrl" alt="@session.Speaker" />
        <h3>@session.Name</h3>
        <p>@Html.ActionLink(session.Speaker, "Details", "Speakers", new { id = session.Speaker }, new { })</p>
        <p>Room: @session.Room Track: @Html.ActionLink(session.Track, "Details", "Tracks", new { id = session.Track }, new { })</p>
        <p>@session.Description</p>
        <div class="clear"></div>
    </div>
}
