@model FacetedWorlds.MyCon.Web.ViewModels.ScheduleViewModel

@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

@foreach (var day in Model.Days)
{
    <p>@day.Text</p>
    foreach (var time in day.Times)
    {
        <div class="time">
            <div class="calendar">
                <p>@time.Day</p>
                <p>@time.Time</p>
            </div>
    
            @{ var commonSession = time.CommonSession;
            if (commonSession == null)
            {
                <h3>@Html.ActionLink("Breakout session", "Details", new { id = time.ID })</h3>
            }
            else
            {
                <h3>@commonSession.Name</h3>
            }
            }
        
            <div class="clear" />
        </div>
    }
}
