@model FacetedWorlds.MyCon.Web.ViewModels.SpeakerDetailsViewModel
@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name</h2>

<div class="details">
    <img src="@Model.ImageUrl" alt="@Model.Name" />
    <p>@Model.Bio</p>
    <div class="clear"></div>
</div>

@foreach (var session in @Model.Sessions)
{
    <div class="session">
        <a href="@Url.Action("Details", "Sessions", new { id = session.TimeSlot })">
            <div class="calendar">
                <p>@session.Day</p>
                <p>@session.Time</p>
            </div>
        </a>
        <h3>@session.Name</h3>
        <p>
            Room: @session.Room
            @if (session.Track != null)
            {
                @:Track: @Html.ActionLink(session.Track, "Details", "Tracks", new { id = session.Track }, new { })
            }
        </p>
        <p>@session.Description</p>
        <div class="clear"></div>
    </div>
}