@model FacetedWorlds.MyCon.Web.ViewModels.SpeakersViewModel

@{
    ViewBag.Title = @Model.Title;
}

<h2>@Model.Title</h2>


@foreach (var speaker in Model.Speakers) {
    <div class="speaker">
        <div class="name">@Html.ActionLink(speaker.Name, "Details", new { id = speaker.Name })</div>
        <img src="@speaker.ImageUrl" alt="@speaker.Name" />
        <p>@speaker.Bio</p>
    </div>
}
